# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Python
# =========================
venv/
.venv/
__pycache__/
*.pyc

# =========================
# Node / Frontend
# =========================
node_modules/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
